<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fantasy Basketball Rankings</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" src="normalize-css.googlecode.com/svn/trunk/normalize.css"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500italic,700italic,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:300,100' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    </head>

    <body>
      <div id="content"></div>
    </body>
  
    <footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script type="text/babel" src="{{ url_for('static', filename='js/rankings_react.js') }}"></script>
    </footer>
</html>